@tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: var(--font-dm-sans);
    
  }
  .text-fallback{
    font-family:var(--font-dm-sans)
  }
  .cta-section{
    font-family:var(--font-space-grotesk)
  }
  * {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  .cta-section2{
    font-family: var(--font-inter);
    /* font-weight: medium; */
    /* font-size: 40px; */
  }

  @layer utilities {
    .wrapper {
      @apply max-w-7xl lg:mx-auto p-3 md:px-10 xl:px-0 w-full;
    }
  
    .flex-center {
      @apply flex justify-center items-center;
    }
  
    .flex-between {
      @apply flex justify-between items-center;
    }
  }

  
  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[38px] leading-[42px] lg:text-[45px] lg:leading-[55px]  xl:text-[53px] xl:leading-[70px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[26px] leading-[32px] md:text-[32px] md:leading-[41px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }
  

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }




  .glass-container {
    position: relative;
  }
  
  .glass-container::before {
    @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
    content: "";
  }
  
  .signal-line {
    --rotation: 90deg;
    @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
    background-color: hsla(0, 0%, 100%, 0.1);
    background-image: linear-gradient(
      var(--rotation),
      rgba(255, 255, 255, 0) 50%,
      #bfdbfe 50%,
      rgba(255, 255, 255, 0) 70%
    );
    background-size: 400% 400%;
  }
  
  @media (max-width: 767px) {
    .signal-line {
      --rotation: 0deg;
    }
  }
  